.mat-table {
  overflow: auto;
  max-height: 270px;
}

.mat-table {
  max-height: fit-content;
}

.mat-column-description {
  flex: 0 0 20%;
}

.mat-column-titre {
  flex: 0 0 40%;
}

.mat-column-note {
  flex: 0 0 10%;
}

.mat-column-categorie {
  flex: 0 0 10%;
}

.mat-column-id {
  flex: 0 0 10%;
}

.mat-column-select {
  flex: 0 0 10%;
}

mat-header-cell, mat-cell {
  justify-content: center;
  text-align: center;
}

mat-row {
  align-items: stretch !important;
}

mat-cell {
  margin: 10px 10px 10px 0;
}
